@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=DM+Sans:opsz,wght@9..40,200;9..40,400&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    background: #FFFFFF;
    user-select: none;
}

.navbar {
    max-width: 1800px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.navbar__wrap {
    width: 79%;
    display: inherit;
    justify-content: space-between;
}

.navbar__wrap__title-container {
    width: 190px;
    text-align: center;
}

.navbar__wrap__title-container__title {
    color: #A18A68;
    text-decoration: none;
}

.navbar__wrap__title-container__title p {
    font-size: 35px;
    font-family: 'Allerta Stencil';
}

.navbar__wrap__title-container__title p span {
    font-size: 35px;
    font-family: 'Allerta Stencil';
}

.navbar__wrap__anchor-wrap {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    margin-top: 10px;
}

.navbar__wrap__anchor-wrap__list-container {
    width: 100%;
}

.navbar__wrap__anchor-wrap__list-container ul {
    margin-right: 10px;
}

.navbar__wrap__anchor-wrap__list-container ul li {
    list-style-type: none;
    display: inline-block;
    color: #333;
    font-size: 16px;
    margin-right: 50px;
}

.navbar__wrap__anchor-wrap__list-container ul li a {
    color: #333;
    text-decoration: none;
}

.navbar__wrap__anchor-wrap__list-container ul:after {
    content: "|";
    position: absolute;
    top: 40px;
    opacity: 0.6;
}

.navbar__wrap__anchor-wrap__svg-container {
    width: 175px;
    display: inherit;
    justify-content: space-between;
}

.main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__item-section {
    width: 70%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-top: 20px;
}

.main__item-section__image-wrap {
    width: 400px;
    height: 403px;
}

.main__item-section__image-wrap__image {
    width: 100%;
}

.main__item-section__detail-wrap {
    min-width: 40%;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.main__item-section__detail-wrap__title {
    font-size: 48px;
    font-weight: 500;
}

.main__item-section__detail-wrap__container {
    display: inherit;
    justify-content: space-between;
    margin-bottom: 15px;
}

.main__item-section__detail-wrap__container__price {
    color: #A18A68;
    font-size: 24px;
}

.main__item-section__detail-wrap__container__review {
    display: inherit;
    justify-content: space-evenly;
    margin-top: 5px;
}

.main__item-section__detail-wrap__container__review svg {
    width: 40%;
    height: 20px;
}

.main__item-section__detail-wrap__container__review__amount {
    font-weight: 500;
}

.main__item-section__detail-wrap__description {
    width: 85%;
    font-size: 20px;
    margin-bottom: 35px;
}

.main__item-section__detail-wrap__button {
    padding: 25px 125px;
    width: 95%;
    background: #625541;
    display: inherit;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 5px;
    gap: 15px;
    -webkit-box-shadow: 10px 10px 28px -19px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 28px -19px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 28px -19px rgba(0, 0, 0, 0.75);
}

.main__description-section {
    width: 70%;
    height: 35vh;
    display: inherit;
    flex-direction: column;
    margin-bottom: 175px;
}

.main__description-section__description-wrap {
    width: 100%;
    display: inherit;
    flex-direction: column;
    align-items: center;
}

.main__description-section__description-wrap hr {
    width: 98.5%;
    margin-bottom: 30px;
}

.main__description-section__description-wrap__description {
    width: 97%;
    font-size: 20px;
}

.main__review-section {
    width: 70%;
    height: 75vh;
    display: inherit;
    flex-direction: column;
}

.main__review-section__title-wrap__title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;
}

.main__review-section__comment-section {
    width: 91%;
    display: grid;
    align-items: center;
    align-self: center;
    height: 100%;
}

.main__review-section__comment-section__wrap {
    width: 100%;
    display: inherit;
    align-items: center;
    height: 100%;
}

.main__review-section__comment-section__wrap__account {
    display: flex;
    width: 100%;
}

.main__review-section__comment-section__wrap__account img {
    width: 5%;
    height: 100%;
    user-select: none;
}

.main__review-section__comment-section__wrap__account div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main__review-section__comment-section__wrap__account div h3 {
    margin-left: 20px;
    font-size: 22px;
    font-weight: 400;
}

.main__review-section__comment-section__wrap__account div h4 {
    margin-left: 20px;
    font-size: 16px;
    opacity: 0.7;
    user-select: none;
    font-weight: 400;
    margin-top: 7px;
    margin-right: 25px;
}

.main__review-section__comment-section__wrap__account__comment {
    margin-top: -45px;
    margin-left: 40px;
    display: flex;
    justify-self: center;
    width: 815px;
}

.main__review-section__comment-section__show-more {
    display: flex;
    justify-self: center;
    justify-content: center;
    text-align: center;
    width: 10%;
    margin-top: 10px;
    margin-right: 50px;
    user-select: none;
}

.footer {
    margin-top: 50px;
    max-width: 1800px;
    height: 125px;
    display: flex;
    justify-content: center;
}

.footer__wrap {
    width: 82%;
    height: 100%;
    display: inherit;
    justify-content: space-between;
    border-top: 2px solid #D8D8D8;
}

.footer__wrap__list-container {
    width: 60%;
    display: inherit;
    align-items: center;
    justify-content: flex-start;
}

.footer__wrap__list-container ul {
    padding: 0;
    width: 100%;
}

.footer__wrap__list-container ul li {
    margin-right: 41px;
    float: left;
    list-style-type: none;
}

.footer__wrap__list-container ul li a {
    color: #707070;
    text-decoration: none;
}

.footer__wrap__form-container {
    width: 40%;
    display: inherit;
    flex-direction: column;
}

.footer__wrap__form-container__form {
    max-width: 375px;
    height: 40px;
    border-bottom: 1px solid #000000;
    user-select: none;
    display: flex;
    margin-top: 31px;
}

.footer__wrap__form-container__form__email:focus {
    background: none;
    outline: none;
}

.footer__wrap__form-container__form__email {
    width: 225px;
    border: transparent;
    background: transparent;
    cursor: default;
}

.main__about-section__about-second-container__bulletpoints {
    text-align: start;
}

.footer__wrap__form-container__form__submit-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.footer__wrap__form-container__socialmedia {
    width: 45%;
    margin-top: 25px;
    display: flex;
    justify-content: end;
    gap: 29px;
}

.mobile_show_first {
    display: none;
}

.mobile_show_second {
    display: none;
}

.mobile_show_third {
    display: none;
}

.mobile_show_fourth {
    display: none;
}

@media only screen and (max-width: 1095px) {

    .mobile_hide_first {
        display: none;
    }

    .mobile_show_first {
        display: block;
    }

    .navbar__wrap__anchor-wrap__list-container ul {
        margin-right: 0;
        float: none;
    }

    .navbar__wrap__anchor-wrap__list-container ul li {
        list-style-type: none;
        color: #333;
        font-size: 16px;
        margin-right: 40px;
    }

    .footer {
        height: 140px;
        max-width: 1800px;
    }

    .footer__wrap__list-container {
        max-width: 50%;
        flex-wrap: wrap;
    }

    .footer__wrap__list-container ul {
        width: 90%;
    }

    .footer__wrap__list-container ul li {
        margin-bottom: 5px;
        margin: 0 0 5px 0;
        float: none;
        font-size: 10px;
    }

    .footer__wrap__list-container ul li:nth-child(1) {
        margin-top: 15px;
    }

    .footer__wrap__list-container ul li:nth-child(3) {
        margin-right: 0;
    }

    .footer__wrap__socialmedia {
        width: 62.5%;
        display: flex;
        justify-content: flex-start;
        margin-left: 2.5px;
        margin-bottom: 15px;
        gap: 20px;
    }

    .footer__wrap__form-container {
        width: 20%;
        display: inherit;
        align-items: flex-end;
        flex-direction: column;
    }
}

@media only screen and (max-width: 850px) {

    .mobile_show_second {
        display: block;
    }

    .mobile_hide_second {
        display: none;
    }
}

@media only screen and (max-width: 725px) {

    .mobile_hide_third {
        display: none;
    }

    .mobile_show_third {
        display: inline;
    }

    .footer__wrap__form-container__form {
        max-width: 200px;
    }

    .footer__wrap__form-container__form__email {
        font-size: 13px;
        overflow: hidden;
        max-width: 150px;
    }

    .footer__wrap__list-container ul li {
        font-size: 14px;
    }
}

@media only screen and (max-width: 460px) {}