@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=DM+Sans:opsz,wght@9..40,200;9..40,400&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    background: #FFFFFF;
    user-select: none;
}

.navbar {
    max-width: 1800px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.navbar__wrap {
    width: 79%;
    display: inherit;
    justify-content: space-between;
}

.navbar__wrap__title-container {
    width: 190px;
    text-align: center;
}

.navbar__wrap__title-container__title {
    color: #A18A68;
    text-decoration: none;
}

.navbar__wrap__title-container__title p {
    font-size: 35px;
    font-family: 'Allerta Stencil';
}

.navbar__wrap__title-container__title p span {
    font-size: 35px;
    font-family: 'Allerta Stencil';
}

.navbar__wrap__anchor-wrap {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    margin-top: 10px;
}

.navbar__wrap__anchor-wrap__list-container {
    width: 100%;
    display: inherit;
}

.navbar__wrap__anchor-wrap__list-container ul {
    margin-right: 10px;
}

.navbar__wrap__anchor-wrap__list-container ul li {
    list-style-type: none;
    display: inline-block;
    color: #333;
    font-size: 16px;
    margin-right: 50px;
}

.navbar__wrap__anchor-wrap__list-container ul li a {
    color: #333;
    text-decoration: none;
}

.navbar__wrap__anchor-wrap__list-container ul:after {
    content: "|";
    position: absolute;
    top: 40px;
    opacity: 0.6;
}

.navbar__wrap__anchor-wrap__svg-container {
    width: 125px;
    display: inherit;
    justify-content: space-between;
    margin-left: 35px;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main__payform-section {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main__payform-section__title-wrap {
    font-size: 44px;
    font-weight: 500;
    align-self: flex-start;
    margin: 40px 50px 50px 0;
}

.main__payform-section__form-wrap {
    display: flex;
    justify-content: center;
    width: 525px;
}

.main__payform-section__form-wrap__form {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 525px;
}

.main__payform-section__form-wrap__form input {
    width: 250px;
    height: 50px;
    margin: 10px 0 20px 10px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    justify-self: center;
    align-self: center;
    align-items: center;
}

.main__payform-section__form-wrap__form input:focus {
    background: none;
    outline: none;
}

.main__payform-section__form-wrap__form__card__number {
    margin-left: 10px;
}

.main__payform-section__form-wrap__form__card-type {
    width: 90%;
    height: 30px;
    background: transparent;
    border: none;
    font-size: 14px;
    border-bottom: 1px solid #000000;
    margin: 5px 30px;
}

.main__payform-section__form-wrap__form__card-type:focus {
    outline: none;
}

.main__payform-section__form-wrap__form__address {
    width: 100%;
    margin-top: -5px;
    margin-left: 75px;
}

.main__payform-section__form-wrap__form__button-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.main__payform-section__form-wrap__form__button-wrap__submit-button {
    padding: 10px 50px;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 8px;
    background: #625541;
    cursor: pointer;
    display: inherit;
    justify-content: center;
    align-items: center;   
    gap: 10px;
}

.main__payform-section__form-wrap__form__address__submit-button svg {
    width: 20px;
}

.footer {
    margin-top: 50px;
    max-width: 1800px;
    height: 125px;
    display: flex;
    justify-content: center;
}

.footer__wrap {
    width: 82%;
    height: 100%;
    display: inherit;
    justify-content: space-between;
    border-top: 2px solid #D8D8D8;
}

.footer__wrap__list-container {
    width: 60%;
    display: inherit;
    align-items: center;
    justify-content: flex-start;
}

.footer__wrap__list-container ul {
    padding: 0;
    width: 100%;
}

.footer__wrap__list-container ul li {
    margin-right: 41px;
    float: left;
    list-style-type: none;
}

.footer__wrap__list-container ul li a {
    color: #707070;
    text-decoration: none;
}

.footer__wrap__form-container {
    width: 40%;
    display: inherit;
    flex-direction: column;
    align-items: flex-end;
}

.footer__wrap__form-container__form {
    max-width: 375px;
    height: 40px;
    border-bottom: 1px solid #000000;
    user-select: none;
    display: flex;
    margin-top: 31px;
}

.footer__wrap__form-container__form__email:focus {
    background: none;
    outline: none;
}

.footer__wrap__form-container__form__email {
    width: 225px;
    border: transparent;
    background: transparent;
    cursor: default;
}

.footer__wrap__form-container__form__submit-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.footer__wrap__form-container__socialmedia {
    width: 45%;
    margin-top: 25px;
    display: flex;
    justify-content: end;
    gap: 29px;
}

.mobile_show_first {
    display: none;
}

.mobile_show_second {
    display: none;
}

@media only screen and (max-width: 1090px) {

    .mobile_hide_first {
        display: none;
    }

    .mobile_show_first {
        display: block;
    }

    .navbar__wrap__anchor-wrap__list-container ul {
        margin-right: 0;
        float: none;
    }

    .navbar__wrap__anchor-wrap__list-container ul li {
        list-style-type: none;
        color: #333;
        font-size: 16px;
        margin-right: 40px;
    }

    .main__payform-section__title-wrap__title {
        font-size: 34px;
    }

    .main__payform-section__form-wrap__form input {
        width: 200px;
        justify-self: center;
        align-self: center;
        align-items: center;
    }

    .footer {
        height: 140px;
        max-width: 1800px;
    }

    .footer__wrap__list-container {
        max-width: 50%;
        flex-wrap: wrap;
    }

    .footer__wrap__list-container ul {
        width: 90%;
    }

    .footer__wrap__list-container ul li {
        margin-bottom: 5px;
        margin: 0 0 5px 0;
        float: none;
        font-size: 16px;
    }

    .footer__wrap__list-container ul li:nth-child(1) {
        margin-top: 15px;
    }

    .footer__wrap__list-container ul li:nth-child(3) {
        margin-right: 0;
    }

    .footer__wrap__socialmedia {
        width: 62.5%;
        display: flex;
        justify-content: flex-start;
        margin-left: 2.5px;
        margin-bottom: 15px;
        gap: 20px;
    }

    .footer__wrap__form-container {
        width: 20%;
        display: inherit;
        align-items: flex-end;
        flex-direction: column;
    }
}

@media only screen and (max-width: 850px) {

    .mobile_show_second {
        display: flex;
    }

    .mobile_hide_second {
        display: none;
    }

    .main__item-section {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .main__item-section__detail-wrap__container__review__amount {
        display: block;
    }
    
    .main__item-section__detail-wrap {
        max-width: 100%;
        margin: 30px 0;

    }
    
    .main__item-section__image-wrap {
        justify-self: center;
        align-self: center;
    }
    
    .main__item-section__detail-wrap__button {
        width: 300px;
        justify-self: center;
        align-self: center;
    }

    .main__item-section__detail-wrap {
        width: 100%;
    }

    .main__review-section__comment-section__wrap__account__comment__content {
        font-size: 14px;
        margin-left: 20px;
    }

    .main__header__image__slider {
        transform: scale(10%);
    }

    .navbar__wrap__anchor-wrap__list-container {
        max-width: 100%;
        position: absolute;
        background: #ffffff;
        border: 2px solid #333;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 100px;
        right: 0;
        z-index: 5;
    }

    .navbar__wrap__anchor-wrap__list-container__list {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .navbar__wrap__anchor-wrap__list-container__burger-title {
        font-size: 18px;
        height: 70px;
        display: inherit;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 30%;
        border-bottom: 2px solid #333;
    }

    .navbar__wrap__anchor-wrap__list-container__list ul {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid #333;
    }

    .navbar__wrap__anchor-wrap__list-container__list ul li {
        display: inherit;
        align-self: center;
        color: #333;
        font-size: 20px;
        margin: 0;
        height: 50px;
        border: 2px solid #333;
        width: 70%;
        margin-top: 10px;
    }

    .navbar__wrap__anchor-wrap__list-container__list ul li a {
        width: 100%;
        height: 100%;
        display: inherit;
        justify-content: center;
        align-items: center;
    }

    .navbar__wrap__anchor-wrap__list-container__list ul li:nth-child(1) {
        margin-top: 30px;
    }

    .navbar__wrap__anchor-wrap__list-container__list ul li:nth-child(3) {
        margin-bottom: 30px;
    }

    .navbar__wrap__anchor-wrap__list-container__list ul:after {
        display: none;
    }

    .navbar__wrap__anchor-wrap__svg-container {
        height: 75px;
        width: 100%;
        margin-left: 0;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .navbar__wrap__anchor-wrap__svg-container svg {
        height: 25px;
        width: 25px;
    }

}

@media only screen and (max-width: 725px) {

    .main__payform-section__form-wrap__form input {
        width: 175px;
    }

    .main__payform-section__title-wrap__title {
        font-size: 28px;
    }

    .main__payform-section__form-wrap__form {
        width: auto;
    }

    .main__payform-section__title-wrap {
        width: 100%;
        white-space: nowrap;
    }

    .footer__wrap__form-container__form {
        max-width: 200px;
    }

    .footer__wrap__form-container__form__email {
        font-size: 13px;
        overflow: hidden;
        max-width: 150px;
    }

    .footer__wrap__list-container ul li {
        font-size: 14px;
    }
}

@media only screen and (max-width: 460px) {

    .main__payform-section__form-wrap__form input {
        width: 130px;
        margin-right: 10px;
    }

    .main__payform-section__title-wrap__title {
        font-size: 24px;
    }

    .main__payform-section__title-wrap__title {
        white-space: nowrap;
    }

    .main__payform-section__form-wrap {
        width: 325px;
    }

    .main__payform-section__form-wrap__form__card-type {
        width: 80%;
    }
}