@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=DM+Sans:opsz,wght@9..40,200;9..40,400&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    background: #FFFFFF;
    user-select: none;
}

.navbar {
    max-width: 1800px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.navbar__wrap {
    width: 79%;
    display: inherit;
    justify-content: space-between;
}

.navbar__wrap__title-container {
    width: 190px;
    text-align: center;
}

.navbar__wrap__title-container__title {
    color: #A18A68;
    text-decoration: none;
}

.navbar__wrap__title-container__title p {
    font-size: 35px;
    font-family: 'Allerta Stencil';
}

.navbar__wrap__title-container__title p span {
    font-size: 35px;
    font-family: 'Allerta Stencil';
}

.navbar__wrap__anchor-wrap {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    margin-top: 10px;
}

.navbar__wrap__anchor-wrap__list-container {
    width: 100%;
}

.navbar__wrap__anchor-wrap__list-container ul {
    margin-right: 10px;
}

.navbar__wrap__anchor-wrap__list-container ul li {
    list-style-type: none;
    display: inline-block;
    color: #333;
    font-size: 16px;
    margin-right: 50px;
}

.navbar__wrap__anchor-wrap__list-container ul li a {
    color: #333;
    text-decoration: none;
}

.navbar__wrap__anchor-wrap__list-container ul:after {
    content: "|";
    position: absolute;
    top: 40px;
    opacity: 0.6;
}

.navbar__wrap__anchor-wrap__svg-container {
    width: 175px;
    display: inherit;
    justify-content: space-between;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main__payform-section {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main__payform-section__title-wrap {
    font-size: 44px;
    font-weight: 500;
    align-self: flex-start;
    margin: 40px 50px 50px 0;
}

.main__payform-section__form-wrap {
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 50%;
}

.main__payform-section__form-wrap__form {
    height: 100%;
}

.main__payform-section__form-wrap__form input {
    width: 250px;
    height: 50px;
    margin: 10px 0 20px 10px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}

.main__payform-section__form-wrap__form input:focus {
    background: none;
    outline: none;
}

.main__payform-section__form-wrap__form__card__number {
    margin-left: 10px;
}

.main__payform-section__form-wrap__form__card__cvv {
    width: 15%;
    margin-left: 15%;
}

.main__payform-section__form-wrap__form__card-type {
    width: 90%;
    height: 30px;
    background: transparent;
    border: none;
    font-size: 14px;
    border-bottom: 1px solid #000000;
    margin: 5px 30px;
    display: flex;
    justify-self: center;
}

.main__payform-section__form-wrap__form__card-type:focus {
    outline: none;
}

.main__payform-section__form-wrap__form__address {
    width: 70%;
    margin-top: -5px;
    margin-left: 75px;
}

.main__payform-section__form-wrap__form__address__submit-button {
    padding: 10px 50px;
    color: white;
    border: none;
    font-size: 24px;
    border-radius: 8px;
    margin-left: 28%;
    margin-top: 25px;
    background: #625541;
    cursor: pointer;
}

.main__payform-section__form-wrap__form__address__submit-button svg {
    margin-bottom: 2px;
    margin-left: 3px;
}

.footer {
    margin-top: 50px;
    max-width: 1800px;
    height: 125px;
    display: flex;
    justify-content: center;
}

.footer__wrap {
    width: 82%;
    height: 100%;
    display: inherit;
    justify-content: space-between;
    border-top: 2px solid #D8D8D8;
}

.footer__wrap__list-container {
    width: 60%;
    display: inherit;
    align-items: center;
    justify-content: flex-start;
}

.footer__wrap__list-container ul {
    padding: 0;
    width: 100%;
}

.footer__wrap__list-container ul li {
    margin-right: 41px;
    float: left;
    list-style-type: none;
}

.footer__wrap__list-container ul li a {
    color: #707070;
    text-decoration: none;
}

.footer__wrap__form-container {
    width: 40%;
    display: inherit;
    flex-direction: column;
    align-items: flex-end;
}

.footer__wrap__form-container__form {
    max-width: 375px;
    height: 40px;
    border-bottom: 1px solid #000000;
    user-select: none;
    display: flex;
    margin-top: 31px;
}

.footer__wrap__form-container__form__email:focus {
    background: none;
    outline: none;
}

.footer__wrap__form-container__form__email {
    width: 225px;
    border: transparent;
    background: transparent;
    cursor: default;
}

.footer__wrap__form-container__form__submit-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.footer__wrap__form-container__socialmedia {
    width: 45%;
    margin-top: 25px;
    display: flex;
    justify-content: end;
    gap: 29px;
}

.mobile_show_first {
    display: none;
}

.mobile_show_second {
    display: none;
}